.profile-page{
    margin-bottom: 3.5rem;
    margin-top: 3rem;
}

.profile-content{
    display: flex;
    flex-wrap: wrap;
}

.profile-card{
    border: 1px solid var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 100%;
    margin: 0.5rem 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.profie-heading{
    font-weight: 300;
}

.profie-data{
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
}

.logout{
    text-align: right;
    margin: 1rem 2.5rem;
}

.logout>button{
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 500;
    margin: 1rem 1.5rem;
    width: 50%;
    cursor: pointer;
    white-space: nowrap;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.logout{
    height: 1rem;
    width: auto;
    vertical-align: bottom;
    margin: 0 0.5rem;
}

@media only screen and (min-width: 768px){

    .profile-page{
        margin-top: 4.5rem;
        display: flex;
        align-items: center;
    }

    .profile-box{
        width: 50%;
        align-self: center;
        margin: auto;
    }
}