@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Poppins', sans-serif;
}

p{
  margin: 0;
  padding: 0;
}

h1{
  margin: 0;
  padding: 0;
}

ul{
  margin: 0;
  padding: 0;
  margin-block: 0;
  margin-inline: 0;
  padding-inline-start: 0;
}

:root{
  --dark-color: #000;
  --primary-color: #116466;
  --silver-color: #B9C9C9;
  --text-color: #F5F5F5;
  --light-color: #999999;
  --red-color: #FF1F2E;
  --off-white: #F5F5F5;
}